* {
  margin: 0;
  padding: 0;
}

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  padding-bottom: 0;
  margin: 0;
  font-family: "Playfair Display", serif;
  font-size: x-large;
}
.navbar a {
  text-decoration: none;
}

@media (max-width: 991px) {
  .navbar-list-items {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}
.navbar-list-items {
  margin: 0;
  padding-top: 18px;
}

/* Footer */
footer {
  background-color: #343a40;
  background: flex;
}
.socialMedia i {
  padding-right: 15px;
  color: rgb(180, 180, 180);
}

.webName {
  color: rgb(180, 180, 180);
}

/* HOME PAGE  */
.header {
  background-image: url("./pix/waterfront.jpg");
  height: 130vh;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-attachment: fixed;
}
.logo img {
  width: 150px;
  float: left;
  height: auto;
}
.welcome-text {
  width: 100%;
  color: rgb(180, 180, 180);
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.8);
  padding-right: 0;
}
.welcome-text h1 {
  padding-left: 100px;
  font-size: 60px;
}
.learn {
  color: rgb(66, 1, 92);
  border: 1px solid black;
  padding: 10px 25px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 20px;
  display: inline-block;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.8);
  font-family: "Playfair Display", serif;
}
.learn:hover {
  text-decoration: none;
  background: rgba(37, 37, 37, 0.808);
  color: rgb(86, 3, 124);
  font-weight: 700;
}
.welcome-text h4 {
  padding-left: 100px;
  font-size: 45px;
  font-family: "Open Sans Condensed", sans-serif;
}
.welcome-text h1 {
  font-family: "Playfair Display", serif;
}

/*  About Page animation for content  */
.about {
  display: flex;
  margin: auto;
  justify-content: space-between;
}

.about-info h1 {
  z-index: -1;
  color: #632c65;
  text-align: center;
  line-height: 90px;
  font-size: 90px;
  font-weight: 200;
  letter-spacing: -0.1em;
  width: 95%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.about section {
  width: 48%;
}
.Synopsis-highlight {
  font-weight: 700 !important;
  font-size: 15px !important;
  line-height: 25px !important;
  width: 100%;
  color: #632c65;
}
.about .Synopsis-highlightLine {
  width: 52px;
  height: 4px;
  background: #632c65;
  margin: 30px 0;
}

.about .about-info {
  margin-left: 30px;
}

.about .about-with-bg {
  background-image: url("./pix/thanksBoston2.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: white;
  text-align: center;
}

/* Portfolio cards */

.inner {
  overflow: hidden;
}
.inner img {
  transition: all 1.5s ease;
}
.inner:hover img {
  transform: scale(1.5);
}
.col-md-m4 {
  padding-top: 100px;
  padding-right: 50px;
}
.card-img-top {
  width: 320px;
  height: 280px;
}
.card-body {
  margin: 0;
  width: 20rem;
  color: rgb(158, 158, 158);
  background-color: #343a40;
}
#card {
  padding-bottom: 50px;
}
.portfolio {
  background-image: url(./pix/projects.jpg);
  background-size: 100vw;
  background-position: center;
  background-attachment: fixed;
}

/* For CONTACT FORM */

@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

.contact {
  background: url(././pix/cambridge.jpg);
  height: 180vh;
  background-size: cover;
  background-position: center center;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 70px;
}

.contact .container {
  max-width: 510px;
  min-width: 324px;
  background-color: #fff;
  border: 1px solid #cfcfcf;
  border-bottom: 6px solid #ccc;
  position: center;
}

.contact .row {
  width: 100%;
  margin: 0 0 1em 0;
  padding: 0 2.5em;
}

.contact .row.heading {
  /* padding: 1.5em 2.5em; */
  border-bottom: 1px solid #ccc;
  background: url(./pix/contactImg.jpg);
  background-size: cover;
  color: rgb(98, 96, 219);
  margin-top: 25px;
}

.contact .row.body {
  padding: 0.5em 2em 0.5em;
}

.contact .pull-right {
  float: right;
}

.contact .clear {
  clear: right;
}

.contact h1 {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  display: inline-block;
  font-weight: 100;
  font-size: 2.8125em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0 0 0.1em 0;
  padding: 0 0 0.4em 0;
}

.contact h3 {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.25em;
  margin: 1em 0 0.4em 0;
}

.contact .btn {
  font-size: 1.0625em;
  display: inline-block;
  color: #fff;
  border-width: 0 0 0 0;
  border-bottom: 2px solid;
  text-transform: uppercase;
  background-color: #b3b3b3;
  border-bottom-color: #8c8c8c;
  font-family: "Lato", sans-serif;
  font-weight: 300;
}
.contact .btn:hover {
  background-color: #bfbfbf;
}
.contact .btn.btn-submit {
  background-color: #4f6fad;
  border-bottom-color: #374d78;
}
.contact .btn.btn-submit:hover {
  background-color: #5f7db6;
}

.contact form {
  padding-bottom: 25px;
  max-width: 100%;
  display: block;
}

.contact form {
  clear: both;
  display: inline-block;
  width: 100%;
  overflow: hidden;
}

.contact form .divider {
  margin: 0.5em 0 0.5em 0;
  border: 0;
  height: 1px;
  width: 100%;
  display: block;
  background-color: #4f6fad;
  background-image: linear-gradient(to right, #ee9cb4, #4f6fad);
}
.contact form label {
  display: block;
  margin: 0 0 0.5em 0;
  color: #4f6fad;
  font-size: 1em;
}
.contact form input {
  margin: 0 0 0.5em 0;
  border: 1px solid #ccc;
  padding: 6px 10px;
  color: rgb(63, 62, 62);
  font-size: 1em;
}
.contact form small {
  color: #4f6fad;
  margin: 0 0 0 0.5em;
}

@media only screen and (max-width: 480px) {
  .contact .pull-right {
    float: none;
  }

  .contact input {
    width: 100%;
  }

  .contact label {
    width: 100%;
    display: inline-block;
    float: left;
    clear: both;
  }

  .contact h1 {
    font-size: 2.25em;
  }

  .contact h3 {
    font-size: 1.125em;
  }
}

/* Thank You page (after email submission) */
.thanksB {
  background-image: url(./pix/thanksBoston.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(200, 199, 199);
}
.thanks {
  background: rgba(5, 5, 5, 0.438);
}
.home-font {
  font-size: 30px;
  text-transform: uppercase;
}
#center-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 30px;
}
